<!DOCTYPE html>
<html>
<head>
  <title>Hawaii Boat 8</title>
</head>
<body>
  <h2>Hawaii Boat 8</h2>
  <video width="320" height="240" controls>
    <source src={{ url_for('static', filename="hiboat9.mp4") }} type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <p> LEGEND </p>
  <p> Green = Suspected Fishing Activity </p>
  <p> Blue = No Suspected Fishing Activity </p>
  <p> Red = Suspected Suspicious Fishing Activity </p>
  <p> This boat has no instances of Suspected Fishing Activity and no instances of Suspected Suspicious Fishing Activity </p> 
</body>
</html>